.App {
  text-align: center;
}



.body {
  background-color: #282c34;
  min-height: 94vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

.login-button {
  margin: 15px 0px;
}

.login-header {
  margin-bottom: 80px;
  justify-content: center;
}

.register-emailValidation {
  color: red;
}